  .nome {
      text-align: center;
  }
  
  .picture {
    border-radius: 100%;
  }
  body {
      background-color: rgb(238, 205, 176);
  }

  #foto {
      float: left;
      height: 300px;
  }

  #image-container {
      height: 300px;
  }

  div{
      border: 2px solid green;
  }

  .button {
    color: white;
    background-color: #f74545;
    padding: 10px 25px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    border-radius: 4px;
    text-decoration: none;
  }