  body  {
      padding: 3%;
  }
  
  .nome {
      text-align: center;
  }
  
  .picture {
    border-radius: 100%;
  }
  body {
      background-color: rgb(238, 205, 176);
  }

  #foto {
      float: left;
      height: 280px;
      padding: 10px;
      background-color: #f74545;
  }

  .image-container {
      height: 300px;
      position: relative;
  }

  .description {
      position: absolute;
      top: 20%;
      right: 50%;
  }

  ul li:nth-child(odd) {
      background-color: #f74545;
  }

  .button {
    color: white;
    background-color: #f74545;
    padding: 10px 25px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    border-radius: 4px;
    text-decoration: none;
  }